@charset "UTF-8";
/*переменные*/
/*fonts*/
/*color*/
/**/
/*шрифты*/
/*main fonts*/
@font-face {
  font-family: "Europe_Ext";
  font-weight: 400;
  font-style: normal;
  src: url("../sass/fonts/europe-ext/europe-ext.woff2") format("woff2");
}
@font-face {
  font-family: "Europe_Ext";
  font-weight: 700;
  font-style: normal;
  src: url("../sass/fonts/europe-ext/europeext-bold.woff2") format("woff2");
}
/*основные настройки*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Europe_Ext", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #1D1F23;
}

h1, h2, h3, h4, p, a, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
}

.icon {
  max-width: inherit;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.site-logo {
  position: relative;
  max-width: 383px;
}

.img-logo {
  width: 100%;
  max-width: 383px;
}

.logo-text {
  margin-top: 10px;
  font-family: "Europe_Ext", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #66FFCC;
  background: linear-gradient(91.9deg, #00CCFF 0%, #66FFCC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title {
  font-family: "Europe_Ext", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 1.28px;
  color: #FFFFFF;
  z-index: 2;
}
.section-button {
  padding: 20px 50px;
  font-family: "Europe_Ext", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 1.28px;
  color: #1F1B20;
  background: linear-gradient(91.9deg, #00CCFF 0%, #66FFCC 100%);
}

/*секции*/
.header {
  position: relative;
  padding-top: 74px;
  height: 1280px;
  background-image: url(../img/header/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header::after {
  content: "";
  position: absolute;
  top: -130px;
  left: -204px;
  width: 580px;
  height: 440px;
  background: linear-gradient(91.9deg, #00CCFF 0%, #66FFCC 100%);
  filter: blur(200px);
  transform: rotate(90deg);
  z-index: -1;
}
.header-nav {
  margin-bottom: 185px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  display: inline;
  font-size: 64px;
}
.header-text {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  font-family: "Europe_Ext", sans-serif;
  font-size: 36px;
  line-height: 33px;
  color: #FFFFFF;
}
.header-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 77px;
  margin-top: 47px;
  left: 50%;
  background-color: #FFFFFF;
  transform: rotate(180deg);
}

.menu-list {
  display: flex;
  align-items: center;
}
.menu-list-item {
  margin-right: 50px;
}
.menu-list-item:last-child {
  margin-right: 0;
  color: #FFFFFF;
}
.menu-list-item:last-child .menu-list-item-link {
  color: #1F1B20;
}
.menu-list-item-link {
  display: inline-block;
  font-family: "Europe_Ext", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 1.28px;
  color: #FFFFFF;
}

.social-icons-vertical {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 120px;
  left: 70px;
  top: 460px;
}
.social-icons-link {
  width: 41px;
  height: 41px;
}

.vertical-text {
  position: fixed;
  top: 400px;
  right: -126px;
  font-family: "Europe_Ext", sans-serif;
  font-size: 24px;
  line-height: 22px;
  color: #FFFFFF;
  transform: rotate(90deg);
}

.services {
  z-index: 2;
  position: relative;
  margin-top: -298px;
  padding-bottom: 166px;
}
.services::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 150px;
  right: 0;
  top: 24%;
  background: #66FFCC;
  filter: blur(90px);
  z-index: -1;
}
.services-wrapper {
  display: flex;
  justify-content: space-between;
}
.services-offer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.services-offer__img {
  margin-left: -20%;
  max-width: 795px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.services-img {
  max-width: 100px;
  height: 100px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.services-title {
  margin-bottom: 10px;
}
.services-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.services-list__list {
  margin-top: 25px;
}
.services-list-item {
  margin-bottom: 50px;
  padding: 60px 50px;
  max-width: 845px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(94.6deg, #2F3439 -72.68%, #26292E 26.94%, #17191C 185.78%);
  box-shadow: -5px -6px 16px rgba(195, 200, 205, 0.04), 22px 22px 60px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  opacity: 0;
  transform: translateY(20px);
}
.services-list-item.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}
.services-list-item-show {
  transition-delay: 1s;
}
.services-item-title {
  font-family: "Europe_Ext", sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.8px;
  color: #FFFFFF;
}
.services-item-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 2;
}
.services-item-text {
  margin-top: 25px;
  font-family: "Europe_Ext", sans-serif;
  font-size: 18px;
  line-height: 130%;
  color: #B3B9C0;
}
.services-item-text:first-child {
  margin-top: 0;
}
.services-img-blur {
  width: inherit;
  height: inherit;
  position: absolute;
  background: linear-gradient(324.43deg, #32383E -114.89%, #17191C 124.22%);
  box-shadow: -12px -10px 32px rgba(195, 200, 205, 0.12), 12px 12px 58px rgba(0, 0, 0, 0.74);
  filter: blur(8px);
  border-radius: 50%;
  z-index: -1;
}

.about {
  position: relative;
  padding: 20px 0 120px 0;
}
.about::after {
  content: "";
  position: absolute;
  width: 272px;
  height: 242px;
  right: 20%;
  bottom: -50px;
  background: url(../img/bottom-blur.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(50px);
  transform: scale(2.2);
  z-index: -1;
}
.about-img {
  position: relative;
  margin-bottom: 60px;
  margin-right: 70px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 950px;
  height: 950px;
  border-radius: 50%;
  shape-outside: circle(50%);
  shape-margin: 1rem;
}
.about-img-img {
  max-width: 560px;
}
.about-img::after, .about-img::before {
  content: "";
  position: absolute;
  display: block;
  width: 263px;
  height: 292px;
  transform: rotate(-180deg);
  z-index: -1;
}
.about-img::after {
  top: 54%;
  left: 26px;
  background: rgba(0, 204, 255, 0.7);
  filter: blur(77px);
}
.about-img::before {
  top: 24%;
  right: 60px;
  background: rgba(102, 255, 204, 0.5);
  filter: blur(64px);
}
.about-content-item {
  margin-bottom: 75px;
  max-width: 720px;
  display: flex;
  opacity: 0;
  transform: translateY(20px);
}
.about-content-item.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateY(0%);
}
.about-content-item-show {
  transition-delay: 5s;
}
.about-item-number {
  height: 41px;
  margin-right: 51px;
  font-family: "Europe_Ext", sans-serif;
  font-weight: bold;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0.05em;
  background: linear-gradient(91.9deg, #00CCFF 0%, #66FFCC 100%, #00CCFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #00CCFF;
  display: table;
}
.about-item-title {
  font-family: "Europe_Ext", sans-serif;
  font-size: 34px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
.about-item-text {
  margin-top: 20px;
  font-family: "Europe_Ext", sans-serif;
  font-size: 20px;
  line-height: 140%;
  color: #B3B9C0;
}
.about-group-circle {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-group-circle-item {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  transition: 5s;
}

.circle-item-1 {
  width: 100px;
  height: 100px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut infinite ease 5s;
          animation: fadeOut infinite ease 5s;
  opacity: 100%;
}
.circle-item-2 {
  width: 200px;
  height: 200px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut2 infinite ease 5s;
          animation: fadeOut2 infinite ease 5s;
  opacity: 80%;
}
.circle-item-3 {
  width: 340px;
  height: 340px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut3 infinite ease 5s;
          animation: fadeOut3 infinite ease 5s;
  opacity: 70%;
}
.circle-item-4 {
  width: 480px;
  height: 480px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut4 infinite ease 5s;
          animation: fadeOut4 infinite ease 5s;
  opacity: 60%;
}
.circle-item-5 {
  width: 630px;
  height: 630px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut5 infinite ease 5s;
          animation: fadeOut5 infinite ease 5s;
  opacity: 50%;
}
.circle-item-6 {
  width: 780px;
  height: 780px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut6 infinite ease 5s;
          animation: fadeOut6 infinite ease 5s;
  opacity: 40%;
}
.circle-item-7 {
  width: 950px;
  height: 950px;
  border: 1px solid;
  border-color: #66FFCC;
  -webkit-animation: fadeOut7 infinite ease 5s;
          animation: fadeOut7 infinite ease 5s;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 95%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 90%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  80% {
    opacity: 95%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 90%;
  }
}
@-webkit-keyframes fadeOut2 {
  0% {
    opacity: 90%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 70%;
  }
  100% {
    opacity: 80%;
  }
}
@keyframes fadeOut2 {
  0% {
    opacity: 90%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 70%;
  }
  100% {
    opacity: 80%;
  }
}
@-webkit-keyframes fadeOut3 {
  0% {
    opacity: 70%;
  }
  80% {
    opacity: 90%;
  }
  90% {
    opacity: 80%;
  }
  100% {
    opacity: 70%;
  }
}
@keyframes fadeOut3 {
  0% {
    opacity: 70%;
  }
  80% {
    opacity: 90%;
  }
  90% {
    opacity: 80%;
  }
  100% {
    opacity: 70%;
  }
}
@-webkit-keyframes fadeOut4 {
  0% {
    opacity: 60%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 70%;
  }
  100% {
    opacity: 60%;
  }
}
@keyframes fadeOut4 {
  0% {
    opacity: 60%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 70%;
  }
  100% {
    opacity: 60%;
  }
}
@-webkit-keyframes fadeOut5 {
  0% {
    opacity: 50%;
  }
  80% {
    opacity: 70%;
  }
  90% {
    opacity: 60%;
  }
  100% {
    opacity: 50%;
  }
}
@keyframes fadeOut5 {
  0% {
    opacity: 50%;
  }
  80% {
    opacity: 70%;
  }
  90% {
    opacity: 60%;
  }
  100% {
    opacity: 50%;
  }
}
@-webkit-keyframes fadeOut6 {
  0% {
    opacity: 40%;
  }
  80% {
    opacity: 60%;
  }
  90% {
    opacity: 50%;
  }
  100% {
    opacity: 40%;
  }
}
@keyframes fadeOut6 {
  0% {
    opacity: 40%;
  }
  80% {
    opacity: 60%;
  }
  90% {
    opacity: 50%;
  }
  100% {
    opacity: 40%;
  }
}
@-webkit-keyframes fadeOut7 {
  0% {
    opacity: 30%;
  }
  14.28% {
    opacity: 60%;
  }
  28.56% {
    opacity: 50%;
  }
  57.12% {
    opacity: 40%;
  }
  100% {
    opacity: 30%;
  }
}
@keyframes fadeOut7 {
  0% {
    opacity: 30%;
  }
  14.28% {
    opacity: 60%;
  }
  28.56% {
    opacity: 50%;
  }
  57.12% {
    opacity: 40%;
  }
  100% {
    opacity: 30%;
  }
}
.feedback {
  padding: 120px 0;
}
.feedback-wrapper {
  display: flex;
  justify-content: space-between;
}
.feedback-title {
  margin-bottom: 45px;
}
.feedback-contacts {
  margin-right: 60px;
  width: 50%;
  max-width: 642px;
}
.feedback-message {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.feedback-message-info {
  max-width: 215px;
  margin-right: 25px;
  display: inline-block;
  font-family: EuropeExt;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 130%;
  text-align: right;
  color: #b3b9c0;
}
.feedback-message-link {
  text-decoration: none;
  color: #00CCFF;
}

.form-field {
  margin-right: 25px;
  padding: 20px;
  font-family: "Europe_Ext", sans-serif;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.15em;
  color: #B3B9C0;
  background: none;
  border: 1px solid #FFFFFF;
  outline: none;
}
.form-field:last-child {
  margin-right: 0;
}
.form-item {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form-item:first-child input {
  max-width: 300px;
  width: 50%;
}
.form-item textarea {
  margin-right: 0;
  width: 100%;
  height: 100px;
}

.contacts-submit {
  padding: 20px 50px;
  font-family: "Europe_Ext", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: #1F1B20;
  background: linear-gradient(91.9deg, #00CCFF 0%, #66FFCC 100%);
  cursor: pointer;
  border: none;
}
.contacts-line {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Europe_Ext", sans-serif;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #B3B9C0;
}
.contacts-line::before, .contacts-line::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  width: 260px;
  height: 1px;
  background: #B3B9C0;
}
.contacts-line::after {
  right: 0;
}
.contacts-list-item {
  display: inline-block;
  margin-bottom: 36px;
  font-family: "Europe_Ext", sans-serif;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contacts-item-link {
  margin-left: 46px;
  color: #B3B9C0;
}
.contacts-item-link-icon {
  display: flex;
  align-items: center;
}
.contacts-info {
  display: flex;
  justify-content: space-between;
}
.contacts-link-icon {
  margin-right: 10px;
  width: 24px;
  height: 24px;
  display: inline-block;
}
.contacts-link-icon:last-child {
  margin-right: 0;
}
.contacts-list, .contacts-message {
  max-width: 50%;
}

.message-form {
  display: flex;
  flex-direction: column;
  align-items: end;
  max-width: 625px;
  width: 100%;
}

.footer {
  padding: 65px 0;
}
.footer-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-wrapper::after {
  content: "";
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 1px;
  opacity: 0.5;
  border-top: 1px solid #3A3F50;
}
.footer-left-block {
  display: flex;
  justify-content: space-between;
}
.footer-list-item {
  margin-top: 30px;
}
.footer-list-item:first-child {
  margin-top: 0;
}
.footer-list-item-link {
  font-family: "Europe_Ext", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #B3B9C0;
}
.footer-info .menu-list {
  flex-direction: column;
  align-items: end;
}
.footer-info .menu-list-item {
  display: block;
  margin-right: 0;
  margin-bottom: 30px;
}
.footer-info .menu-list-item:last-child {
  margin-bottom: 0;
}
.footer-social-icon {
  margin-top: 20px;
  width: 50px;
  height: 50px;
}
.footer-text {
  margin-top: 15px;
  font-family: "Europe_Ext", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
}
.footer-text-link {
  position: relative;
  color: #B3B9C0;
}
.footer-text-link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #B3B9C0;
}

/*animation*/
@-webkit-keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
@keyframes wipe-enter {
  0% {
    transform: scale(0, 0.025);
  }
  50% {
    transform: scale(1, 0.025);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .square {
    -webkit-animation-name: wipe-enter;
            animation-name: wipe-enter;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
/*адаптив*/
@media (max-width: 1550px) {
  .container {
    max-width: 1250px;
  }

  .section-title {
    font-size: 36px;
  }

  .header, .services, .about, .feedback, .footer {
    padding: 60px 20px;
  }

  .header {
    height: 978px;
  }
  .header::after {
    top: -27%;
    left: -21%;
  }
  .header-nav {
    margin-bottom: 125px;
  }
  .header-title {
    font-size: 44px;
  }
  .header-text {
    margin-top: 150px;
    font-size: 32px;
  }

  .menu-list-item {
    margin-right: 30px;
  }
  .menu-list-item-link {
    letter-spacing: 0.05px;
  }

  .pic-logo {
    max-width: 283px;
  }

  .services {
    margin-top: -190px;
    padding-bottom: 136px;
  }
  .services-offer__img {
    max-width: 595px;
  }
  .services-item-title {
    font-size: 26px;
  }
  .services-item-text {
    margin-top: 20px;
    font-size: 16px;
  }
  .services-item-info {
    margin-right: 56px;
  }
  .services-list__list {
    margin-top: 20px;
  }
  .services-list-item {
    padding: 26px 26px;
    max-width: 645px;
  }

  .about-img {
    width: 670px;
    height: 670px;
  }
  .about-img-img {
    max-width: 500px;
  }
  .about-content-item {
    margin-bottom: 65px;
  }
  .about-item-number {
    margin-right: 25px;
    font-size: 20px;
  }
  .about-item-title {
    font-size: 20px;
  }
  .about-item-text {
    font-size: 18px;
  }

  .circle-item-2 {
    width: 150px;
    height: 150px;
  }
  .circle-item-3 {
    width: 250px;
    height: 250px;
  }
  .circle-item-4 {
    width: 350px;
    height: 350px;
  }
  .circle-item-5 {
    width: 450px;
    height: 450px;
  }
  .circle-item-6 {
    width: 550px;
    height: 550px;
  }
  .circle-item-7 {
    width: 650px;
    height: 650px;
  }

  .contacts-item-link {
    margin-left: 26px;
  }
}
@media (max-width: 1200px) {
  .header, .services, .about, .feedback, .footer {
    padding: 60px 30px;
  }

  .section-title {
    font-size: 26px;
  }

  .section-button {
    padding: 16px 30px;
  }

  .header .menu-list-item:first-child {
    display: none;
  }

  .header .menu-list-item:nth-child(2) {
    display: none;
  }

  .header-title {
    font-size: 36px;
  }

  .header-text {
    margin-top: 90px;
    font-size: 26px;
  }

  .site-logo {
    max-width: 320px;
  }

  .menu-list-item {
    margin-right: 20px;
  }
  .menu-list-item-link {
    font-size: 16px;
  }

  .services {
    margin-top: -358px;
  }
  .services-offer__img {
    max-width: 530px;
  }
  .services-list-item {
    max-width: 600px;
  }
  .services-item-title {
    font-size: 20px;
  }
  .services-item-info {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
  .services-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .services-offer {
    align-items: center;
    margin-bottom: 40px;
  }
  .services-offer__img {
    max-width: 530px;
    margin-left: 0;
  }
  .services-list-item {
    max-width: 645px;
  }
  .services-img-blur {
    filter: blur(3px);
  }

  .about-img {
    width: 370px;
    height: 370px;
    margin-top: 76px;
  }
  .about-img-img {
    max-width: 370px;
  }
  .about-content-item {
    margin-bottom: 40px;
  }
  .about-item-number {
    margin-right: 10px;
    font-size: 18px;
  }
  .about-item-title {
    font-size: 18px;
  }
  .about-item-text {
    font-size: 14px;
  }
  .about-content-item {
    margin-bottom: 26px;
  }

  .contacts-submit {
    padding: 20px 20px;
    font-size: 16px;
  }
  .contacts-item-link {
    margin-left: 12px;
  }
}
@media (max-width: 992px) {
  .social-icons-vertical {
    display: none;
  }

  .section-title {
    font-size: 24px;
  }

  .section-button {
    padding: 14px;
    font-size: 14px;
  }

  .site-logo {
    max-width: 225px;
    width: 100%;
  }

  .menu-list-item {
    margin-right: 14px;
  }
  .menu-list-item-link {
    font-size: 14px;
  }

  .services {
    margin-top: -358px;
  }
  .services-item-img {
    width: 150px;
    height: 150px;
  }
  .services-list-item {
    padding: 20px 26px;
  }
  .services-list__list {
    margin-top: 14px;
  }
  .services-list-text {
    margin-top: 16px;
    font-size: 12px;
  }

  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-img {
    margin-top: 0;
  }
  .about-item-title {
    font-size: 20px;
  }
  .about-item-text {
    font-size: 14px;
  }
  .about-item-number {
    font-size: 20px;
  }

  .contacts-submit {
    margin-top: 25px;
    width: 100%;
    padding: 16px 20px;
    font-size: 14px;
  }

  .form-field {
    padding: 15px;
  }

  .contacts-list, .contacts-message {
    max-width: inherit;
  }
  .contacts-list-item {
    font-size: 14px;
  }

  .form-item {
    flex-direction: column;
  }
  .form-item-colmn {
    align-items: end;
  }
  .form-item:first-child input {
    max-width: inherit;
    width: 100%;
  }
  .form-field {
    margin-top: 25px;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .services-offer__img {
    max-width: 450px;
  }
}
@media (max-width: 560px) {
  .site-logo {
    max-width: 190px;
  }

  .header {
    height: 778px;
  }
  .header .menu-list-item-link {
    display: none;
  }
  .header-text::after {
    margin-top: 25px;
  }

  .services {
    margin-top: -258px;
  }
  .services-offer {
    width: 100%;
  }
  .services-list-item {
    flex-direction: column-reverse;
  }
  .services-item-img {
    width: 130px;
    height: 130px;
  }
  .services-img {
    max-width: 80px;
    height: 80px;
  }

  .about::after {
    transform: scale(1.5);
  }
  .about-wrapper {
    flex-direction: column;
  }
  .about-img {
    margin-right: 0;
    margin-bottom: 60px;
  }

  .circle-item-4 {
    width: 250px;
    height: 250px;
  }

  .circle-item-5 {
    width: 350px;
    height: 350px;
  }

  .circle-item-6 {
    width: 450px;
    height: 450px;
  }

  .circle-item-7 {
    width: 550px;
    height: 550px;
  }

  .contacts-line::before, .contacts-line::after {
    width: 220px;
  }

  .footer-wrapper {
    flex-wrap: wrap;
  }
  .footer-list-item {
    margin-top: 20px;
  }
  .footer-list-item:first-child {
    margin-top: 20px;
  }

  .feedback-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .feedback-contacts {
    margin-right: 0;
    width: initial;
  }
  .feedback-message {
    width: 100%;
    align-items: initial;
  }

  .form-item:first-child input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */