@media (max-width: 1550px)
    .container
        max-width: 1250px
    .section-title
        font-size: 36px
    .header, .services, .about, .feedback, .footer
        padding: 60px 20px
    .header
        height: 978px
        &::after
            top: -27%
            left: -21%
        &-nav
            margin-bottom: 125px
        &-title
            font-size: 44px
        &-text
            margin-top: 150px
            font-size: 32px
    .menu
        &-list
            &-item
                margin-right: 30px
                &-link
                    letter-spacing: 0.05px
    .pic-logo
        max-width: 283px
    .services
        margin-top: -190px
        padding-bottom: 136px
        &-wrapper
        &-item
            &-title
                font-size: 26px
            &-text
                margin-top: 20px
                font-size: 16px
            &-info
                margin-right: 56px
        &-list
            &__list
                margin-top: 20px
            &-item
                padding: 26px 26px
                max-width: 645px
    .about
        &-wrapper
        &-img
            width: 670px
            height: 670px
            &-img
                max-width: 500px
        &-content
            &-item
                margin-bottom: 65px
        &-item
            &-number
                margin-right: 25px
                font-size: 20px
            &-title
                font-size: 20px
            &-text
                font-size: 18px
    .circle-item
        &-2
            width: 150px
            height: 150px
        &-3
            width: 250px
            height: 250px
        &-4
            width: 350px
            height: 350px
        &-5
            width: 450px
            height: 450px
        &-6
            width: 550px
            height: 550px
        &-7
            width: 650px
            height: 650px
    .contacts
        &-item
            &-link
                margin-left: 26px
    .application
        // padding: 50px 30px
        width: 1400px
        &-form
            &-input, &-select
                padding: 14px
@media (max-width: 1200px)
    .header, .services, .about, .feedback, .footer
        padding: 60px 30px
    .section-title
        font-size: 26px
    .section-button
        padding: 16px 30px
    .header .menu-list-item:first-child
        display: none
    .header .menu-list-item:nth-child(2)
        display: none
    .header
        &-title
            font-size: 36px
    .header
        &-text
            margin-top: 90px
            font-size: 26px
    .site-logo
        max-width: 320px
    .menu
        &-list
            &-item
                margin-right: 20px
                &-link
                    font-size: 16px
    .services
        margin-top: -358px
        &-offer__img
            max-width: 530px
        &-list-item
            max-width: 600px
        &-item
            &-title
                font-size: 20px
        &-item-info
            width: 100%
            margin-top: 20px
            margin-right: 0
        &-wrapper
            flex-direction: column
            align-items: center
        &-offer
            align-items: center
            margin-bottom: 40px
            &__img
                max-width: 330px
                margin-left: 0
        &-list
            &-item
                max-width: 645px
        &-img-blur
            filter: blur(3px)
    .about
        &-img
            width: 370px
            height: 370px
            margin-top: 76px
            &-img
                max-width: 370px
        &-content-item
            margin-bottom: 40px
        &-item
            &-number
                margin-right: 10px
                font-size: 18px
            &-title
                font-size: 18px
            &-text
                font-size: 14px
        &-content-item
            margin-bottom: 26px
    .contacts
        &-submit
            padding: 20px 20px
            font-size: 16px
        &-item-link
            margin-left: 12px
@media (max-width: 992px)
    .header, .services, .about, .feedback, .footer
        padding: 40px 30px
    .social-icons-vertical
        display: none
    .section-title
        font-size: 24px
    .section-button
        padding: 14px
        font-size: 14px
    .site-logo
        max-width: 225px
        width: 100%
    .header
        &-text
            font-size: 24px
    .menu
        &-list
            &-item
                margin-right: 14px
                &-link
                    font-size: 14px
    .services
        margin-top: -358px
        &-item
            &-img
                width: 150px
                height: 150px
        &-list
            &-item
                padding: 20px 26px
            &__list
                margin-top: 14px
            &-text
                margin-top: 16px
                font-size: 12px
    .about
        &-wrapper
            display: flex
            flex-direction: column
            align-items: center
        &-img
            margin-top: 0
        &-item
            &-title
                font-size: 20px
            &-text
                font-size: 14px
            &-number
                font-size: 20px
    .contacts
        &-submit
            margin-top: 25px
            width: 100%
            padding: 16px 20px
            font-size: 14px
    .form-field
        padding: 15px
    .contacts
        &-list, &-message
            max-width: inherit
        &-list
            &-item
                font-size: 14px
    .form
        &-item
            flex-direction: column
            &-colmn
                align-items: end
        &-item:first-child input
            max-width: inherit
            width: 100%
        &-field
            margin-top: 25px
            margin-right: 0
@media (max-width: 768px)
    .services
        &-offer
            &__img
                max-width: 300px
@media (max-width: 560px)
    .section-title
        font-size: 22px
    .site-logo
        max-width: 190px
    .vertical-text
        right: -130px
        font-size: 20px
    .header
        height: 725px
        & .menu-list-item-link
            display: none
        &-text::after
            margin-top: 25px
        &-nav
            margin-bottom: 75px
        &-text
            margin-top: 50px
            font-size: 22px
        &::after
            width: 280px
            height: 280px
    .services
        margin-top: -258px
        &-offer
            width: 100%
        &-list
            &-item
                flex-direction: column-reverse
        &-item-img
            width: 130px
            height: 130px
        &-img
            max-width: 80px
            height: 80px
    .about
        &::after
            transform: scale(1.5)
        &-wrapper
            flex-direction: column
        &-img
            margin-right: 0
            margin-bottom: 60px

    .circle-item  
        &-1
            width: 50px
            height: 50px       
        &-1
            width: 100px
            height: 100px        
        &-3
            width: 150px
            height: 150px
        &-4
            width: 200px
            height: 200px
        &-5
            width: 250px
            height: 250px
        &-6
            width: 300px
            height: 300px
        &-7
            width: 350px
            height: 350px

    .contacts-line::before, .contacts-line::after
        width: 220px
    .footer
        &-wrapper
            flex-wrap: wrap
        &-list-item
            margin-top: 20px
            &:first-child
                margin-top: 20px
    .feedback
        &-wrapper
            flex-direction: column
            align-items: center
        &-contacts
            margin-right: 0
            width: initial
        &-message
            width: 100%
            align-items: initial
    .form-item:first-child input
        width: 100%
