.about
    position: relative
    padding: 20px 0 120px 0
    &::after
        content: ""
        position: absolute
        width: 772px
        height: 642px
        left: 20%
        bottom: -50px
        background: url(../img/bottom-blur.png)
        background-position: center
        background-size: cover
        background-repeat: no-repeat
        filter: blur(50px)
        z-index: -1
    &-wrapper
        display: flex
        align-items: flex-start
    &-img
        position: relative
        margin-bottom: 60px
        margin-right: 70px
        float: left
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 950px
        height: 950px
        border-radius: 50%
        shape-outside: circle(50%)
        &-img
            max-width: 560px
        &::after, &::before
            content: ""
            position: absolute
            display: block
            width: 263px
            height: 292px
            transform: rotate(-180deg)
            z-index: -1
        &::after
            top: 54%
            left: 26px
            background: rgba(0, 204, 255, 0.7)
            filter: blur(77px)
        &::before
            top: 24%
            right: 60px
            background: rgba(102, 255, 204, 0.5)
            filter: blur(64px)
    &-content
        &-item
            margin-bottom: 75px
            max-width: 720px
            display: flex
            opacity: 0
            transform: translateY(20px)
            &.element-show
                opacity: 1
                transition: all 1s
                transform: translateY(0%)
            &-show                
                transition-delay: 5s

    &-item
        &-number
            height: 41px
            margin-right: 51px
            font-family: $base-font
            font-weight: bold
            font-size: 34px
            line-height: 120%
            letter-spacing: 0.05em
            background: linear-gradient(91.9deg, #00CCFF 0%, #66FFCC 100%, #00CCFF)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            color: #00CCFF
            display: table
        &-title
            font-family: $base-font
            font-size: 34px
            line-height: 120%
            letter-spacing: 0.05em
            color: $base-color
        &-text
            margin-top: 20px
            font-family: $base-font
            font-size: 20px
            line-height: 140%
            color: #B3B9C0
    &-group
        &-circle
            position: absolute
            width: 100%
            height: 100%
            display: flex
            align-items: center
            justify-content: center
            &-item
                position: absolute
                border-radius: 50%
                z-index: -1
                transition: 5s
.circle-item  
    &-1
        width: 100px
        height: 100px
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut infinite ease 5s
        opacity: 100%
    &-2
        width: 200px
        height: 200px
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut2 infinite ease 5s
        opacity: 80%
    &-3
        width: 340px
        height: 340px
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut3 infinite ease 5s
        opacity: 70%
    &-4
        width: 480px
        height: 480px   
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut4 infinite ease 5s
        opacity: 60%
    &-5
        width: 630px
        height: 630px  
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut5 infinite ease 5s
        opacity: 50%
    &-6
        width: 780px
        height: 780px   
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut6 infinite ease 5s
        opacity: 40%
    &-7
        width: 950px
        height: 950px
        border: 1px solid
        border-color:#66FFCC
        animation:  fadeOut7 infinite ease 5s
@keyframes fadeOut
    0%
        opacity: 100%
    80%
        opacity: 95%
    90%
        opacity: 90%
    100%
        opacity: 90%    
@keyframes fadeOut2
    0%
        opacity: 90%
    80%
        opacity: 80%
    90%
        opacity: 70%
    100%
        opacity: 80%
@keyframes fadeOut3
    0%
        opacity: 70%
    80%
        opacity: 90%
    90%
        opacity: 80%
    100%
        opacity: 70%
@keyframes fadeOut4
    0%
        opacity: 60%
    80%
        opacity: 80%
    90%
        opacity: 70%
    100%
        opacity: 60%
@keyframes fadeOut5
    0%
        opacity: 50%
    80%
        opacity: 70%
    90%
        opacity: 60%
    100%
        opacity: 50%
@keyframes fadeOut6
    0%
        opacity: 40%
    80%
        opacity: 60%
    90%
        opacity: 50%
    100%
        opacity: 40%
@keyframes fadeOut7
    0%
        opacity: 30%
    14.28%
        opacity: 60%
    28.56%
        opacity: 50%
    57.12%
        opacity: 40%
    100%
        opacity: 30% 
    
            
// 28.56 57.12
        